body {
    background-image: url("media/temptation.jpeg");
    background-position: 0% 100px;
    background-size: 100%;
}

.header {
    color: white;    
}

header {
    background-image: url("media/txt_universe.png");
    background-position: 50% 60%;
    background-size: 100%;
    border-radius: 25px 25px 0px 0px;
    width: 90%;
    height: 150px;
    margin-top: -60px;
    font-size: xxx-large;
    font-family: helvetica;
    font-weight: bold;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6, a, p {
    font-family: helvetica;
    color: white;
}

.txtuniverse {
    font-size: 25px;
    margin-top: -60px;
}

.plusu {
    padding-top: 40px;
}

nav {
    background-color: #4aab70ea;
    border-radius: 0px 0px 25px 25px;
    width: 90%;
    height: 50px;
    margin-top: -21.5px;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family; helvetica;
    color: white;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 15px;
}

a:hover {
    transform: scale(150%, 150%)
}

a:active {
    color: #ed7f9e;
    transform: scale(150%, 150%);
}

div {
    color: black;
    width: 90%;
    margin-top: 150px;
}

.napofastar, .crown, .runaway, .magicisland, .cysm, .eternally, .bluehour, .x0x1, .daydream, .nightmare, .farewell, .teaser {
    color: white;
    width: 90%;
    height: 50px;
    padding-top: 2.5%;
}

#videos {
    background-color: #365e3eea;
    border-radius: 25px
}

footer {
    background-color: #ed7f9eea;
    border-radius: 25px;
    margin-top: 10%;
    width: 100%;
    height: 150px;
}

.X {
    color: white;
    width: 90%;
    height: 50px;
    padding-top: 5%;
    font-size: xxx-large
}

#teaser {
    background-color: #365e3eea;
    border-radius: 25px;
}

#about {
    background-color: #365e3eea;
    border-radius: 25px;
}

p {
    text-indent: 30px;
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 0px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
}
