body {
    position: relative;
    background-color: #ffd5f4;
}

a:link, a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:link:active, a:visited:active {
  color: #ffffff;
}

#letter {
    position: absolute;
    top: 20px;
    left: 25%;
    width: 500px;
    height: 500px;
}

#card {
    top: 20px;
    left: 7%;
    right: 93%;
    width: 0px;
    height: 0px;
    transition: all 2s;
}

#text {
    position: absolute;
    top: 300px;
    left: 3%;
    right: 97%;
    width: 0px;
    height: 0px;
    transition: all 2s;
}

#text_2 {
    position: absolute;
    top: 1150px;
    left: 27%;
    right: 63%;
    width: 50%;
}

#clyde {
    position: absolute;
    top: 900px;
    left: 38%;
    width: 256px;
    height: 256px;
}
